*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/CornSnake.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {background-color: #949fe2;} 
.button2 {background-color: #7dcde7;}
.button3 {background-color: #f1bd6f;}

#setting{
    background: linear-gradient(rgb(219, 127, 238), rgb(231, 191, 228));
    position: absolute;
    top: 520px;
    right: 90px;
    font-size: 39px;
    font-weight: bold;
    border-radius: 9px;
}

#GAMENAME{
    background: linear-gradient(rgb(61, 233, 46), rgb(128, 235, 176));
    position: absolute;
    top: 300px;
    right: 60px;
    font-size: 39px;
    font-weight: bold;
    border-radius: 9px;
}

#scoreBox{
    background: linear-gradient(rgb(229, 243, 103), rgb(235, 211, 76));
    position: absolute;
    top: 390px;
    right: 165px;
    font-size: 39px;
    font-weight: bold;
    border-radius: 9px;
    border: .25vmin solid black;
}

#hiscoreBox{
    background: linear-gradient(rgb(223, 238, 86), rgb(235, 211, 76));
    position: absolute;
    top: 440px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    border-radius: 9px;
    border: .25vmin solid black;
}

#board{
    background: linear-gradient(rgb(131, 223, 226), rgb(216, 236, 170));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(74, 236, 109), rgb(9, 182, 66));
    border: 2px solid rgb(3, 3, 3); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple; 
    border: .25vmin solid rgb(255, 255, 255);
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, rgb(155, 54, 7));
    border: .25vmin solid rgb(63, 71, 24);
    border-radius: 8px;
}

@media screen and (max-width: 950px)
{
    
.body{
    background: aqua;
    min-height: 50vh;
    background-size: 50vw 50vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
	#GAMENAME{
    background: linear-gradient(rgb(61, 233, 46), rgb(128, 235, 176));
    position: absolute;
    top: 600px;
    right: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 9px;
	}
    #scoreBox{
    background: linear-gradient(rgb(229, 243, 103), rgb(235, 211, 76));
    position: absolute;
    top: 640px;
    right: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 9px;
    border: .25vmin solid black;
	}
	#hiscoreBox{
    background: linear-gradient(rgb(223, 238, 86), rgb(235, 211, 76));
    position: absolute;
    top: 680px;
    right: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 9px;
    border: .25vmin solid black;
	}
	#setting{
    background: linear-gradient(rgb(219, 127, 238), rgb(231, 191, 228));
    position: absolute;
    top: 720px;
    right: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 9px;
	}
}
